################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FI.WebAtividadeEntrevista/.vs/FI.WebAtividadeEntrevista
